[Unit]
Description=Gunicorn instance to serve MyApp
After=network.target

[Service]
User=youruser
Group=www-data
WorkingDirectory=/home/matt/pfa
Environment="PATH=/home/matt/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="RUN_MODE=prod"
ExecStart=/home/matt/.local/bin/uv run gunicorn --workers 2 -k gevent --bind unix:/home/matt/pfa/myapp.sock -m 007 wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

